<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wkz.framework">

    <application
        android:allowBackup="true"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".web.BaseWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

        <!--适配全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>
</manifest>
