<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wkz.wanandroid">

    <dist:module dist:instant="true" />

    <application
        android:name=".application.WanAndroidApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/wan_android_ic_launcher"
        android:label="@string/wan_android_app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:label"
        tools:targetApi="m">
        <!-- 首页 -->
        <activity
            android:name=".mvvm.view.activity.WanAndroidMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 腾讯Bugly AppId-->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="51362dd6c0" />
    </application>
</manifest>