<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wkz.wanandroid">

    <dist:module dist:instant="true" />

    <application
        android:name=".application.WanAndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/wan_android_ic_launcher"
        android:label="@string/wan_android_app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:label"
        tools:targetApi="m">
        <!-- 首页 -->
        <activity
            android:name=".mvvm.view.activity.WanAndroidHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 网页显示 -->
        <activity
            android:name=".mvvm.view.activity.WanAndroidWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <!-- 登录 -->
        <activity
            android:name=".mvvm.view.activity.WanAndroidLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <!-- 注册 -->
        <activity
            android:name=".mvvm.view.activity.WanAndroidRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <!-- 设置 -->
        <activity
            android:name=".mvvm.view.activity.WanAndroidSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/wan_android_mine_setting"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <!-- 积分排行榜-->
        <activity
            android:name=".mvvm.view.activity.WanAndroidIntegralRankingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/wan_android_integral_ranking"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>