<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fphoenixcorneae.openeyes">

    <dist:module dist:instant="true" />

    <application
        android:name=".application.OpenEyesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/open_eyes_ic_launcher"
        android:label="@string/open_eyes_app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/open_eyes_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:label"
        tools:targetApi="m">
        <activity
            android:name=".test.TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <!-- 首页 -->
        <activity
            android:name=".mvvm.viewmodel.activity.OpenEyesHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 视频播放详情页面 -->
        <activity
            android:name=".mvvm.viewmodel.activity.OpenEyesVideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RealFullscreen"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <!-- 分类详情页面 -->
        <activity
            android:name=".mvvm.viewmodel.activity.OpenEyesCategoryDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <!-- 搜索页面 -->
        <activity
            android:name=".mvvm.viewmodel.activity.OpenEyesSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>